# Python cache
__pycache__/

# IDE/editor folders
.idea/
.vscode/

# Virtual environments
/venv/
/env/
/fronend_venv/

# Database files
/database/
*.sqlite

# Logs - keep directory but ignore contents
/logs/*
!/logs/.gitkeep

# Environment files
.env

# Export folder
/export/
