<!-- Availability Modal -->
<div class="modal fade" id="availabilityModal" tabindex="-1" aria-labelledby="availabilityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content bg-dark text-white rounded-4">
      <div class="modal-header">
        <h5 class="modal-title" id="availabilityModalLabel">Available Dates</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul id="availabilityList" class="list-group list-group-flush">
          <!-- Filled dynamically -->
        </ul>
      </div>
    </div>
  </div>
</div>
